.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.leo
leoserver.py
bufferutil
resources/vscode-about-win.png
resources/vscode-about.png
resources/git-clone.png
resources/open-with-vscode.png
resources/open-terminal.png
resources/node-modules.png
resources/debug-profile.png
resources/leointeg-started.png
resources/debug-anim.gif
resources/manual-server-start.png
resources/kill-terminal.png
resources/animated-screenshot.gif
resources/context-hover-menus.png
resources/derived-file.gif
resources/auto-sync.gif
resources/welcome-settings.gif
resources/goto-anywhere.gif
resources/find-in-headlines.gif
resources/nav-goto-pane.gif
resources/nav-tags.gif
resources/undo-pane.gif