html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-family);
  height: 100%;
  line-height: 1.4;
  font-size: 100% !important
}

body.vscode-light {
  background-color: var(--color-background--darken-075)
}

a {
  border: 0;
  color: var(--color-link-foreground);
  font-weight: 400;
  outline: none;
  text-decoration: none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none
}

a:focus {
  outline-color: var(--color-focus-border)
}

a:hover {
  color: var(--color-link-foreground--lighten-20)
}

a,
a:active,
a:focus {
  outline: none
}

b {
  font-weight: 600
}

span.heart {
  color: #8b3177
}

code,
.shortcut-key {
  border-radius: 4px;
  color: var(--color-foreground);
  padding: 2px 6px 0 6px;
  vertical-align: baseline
}

.vscode-dark code,
.vscode-dark .shortcut-key {
  background-color: var(--color-background--lighten-15);
  border-bottom: 2px solid var(--color-background--lighten-15)
}

.vscode-light code,
.vscode-light .shortcut-key {
  background-color: var(--color-background--darken-15);
  border-bottom: 2px solid var(--color-background--darken-15)
}

h1 {
  border: none;
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  white-space: nowrap
}

h2 {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: normal;
  margin: 1em 0 0.3em 0;
  white-space: nowrap
}

h3 {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: normal;
  margin: 1em 0 0.3em 0;
  white-space: nowrap
}

h4 {
  font-size: 1rem;
  font-weight: 200;
  line-height: normal;
  margin: 1em 0 0.3em 0;
  white-space: nowrap
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 1em 3em;
  align-items: center;
  justify-items: center;
  margin: 0 3em
}

input,
select,
button {
  font-family: var(--font-family);
  font-size: inherit;
  margin: 0
}

input[type="checkbox"] {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0 10px
}

input[type="checkbox"]:focus {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none
}

input[type="checkbox"][disabled] {
  color: var(--color-foreground--75);
  cursor: default
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0
}

input[type="number"],
input[type="text"],
input:not([type]) {
  background: none;
  color: var(--color-foreground);
  margin: 0 10px;
  max-width: 300px;
  padding: 4px
}

.vscode-dark input[type="number"],
.vscode-dark input[type="text"],
.vscode-dark input:not([type]) {
  border: 1px solid rgba(255, 255, 255, 0.3)
}

.vscode-light input[type="number"],
.vscode-light input[type="text"],
.vscode-light input:not([type]) {
  border: 1px solid rgba(0, 0, 0, 0.3)
}

input[type="number"]:focus,
input[type="text"]:focus,
input:not([type]):focus {
  outline-color: var(--color-focus-border)
}

.vscode-light input[type="number"]:focus,
.vscode-light input[type="text"]:focus,
.vscode-light input:not([type]):focus {
  background-color: rgba(255, 255, 255, 0.4)
}

.vscode-dark input[type="number"]:focus,
.vscode-dark input[type="text"]:focus,
.vscode-dark input:not([type]):focus {
  background-color: rgba(0, 0, 0, 0.2)
}

input[type="number"].is-invalid,
input[type="text"].is-invalid,
input:not([type]).is-invalid {
  outline-color: red !important;
  border-color: red !important
}

input[type="number"][disabled],
input[type="text"][disabled],
input:not([type])[disabled] {
  color: var(--color-foreground--75);
  cursor: default
}

input[type="number"]::placeholder,
input[type="text"]::placeholder,
input:not([type])::placeholder {
  color: var(--vscode-input-placeholderForeground)
}

label {
  cursor: pointer
}

select {
  background: none;
  color: var(--color-foreground);
  cursor: pointer;
  margin: 0 0.75em;
  padding: 2px;
  min-width: 14em
}

.vscode-light select {
  border: 1px solid rgba(0, 0, 0, 0.3)
}

.vscode-dark select {
  border: 1px solid rgba(255, 255, 255, 0.3)
}

select:focus {
  outline-color: var(--color-focus-border)
}

.vscode-light select:focus {
  background-color: rgba(255, 255, 255, 0.4)
}

.vscode-dark select:focus {
  background-color: rgba(0, 0, 0, 0.2)
}

select[disabled] {
  color: var(--color-foreground--75);
  cursor: default
}

.vscode-light select option {
  background-color: var(--color-background--darken-05)
}

.vscode-dark select option {
  background-color: var(--color-background--lighten-05)
}

select option:focus {
  outline-color: var(--color-focus-border)
}

.vscode-light select option:focus {
  background-color: rgba(255, 255, 255, 0.4)
}

.vscode-dark select option:focus {
  background-color: rgba(0, 0, 0, 0.2)
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.button {
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  letter-spacing: 0.25em;
  margin: 1em 0.5em;
  padding: 1em 1.75em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  white-space: nowrap
}

.button:focus {
  outline: none
}

.button--big {
  font-size: 1.5rem
}

.button--flat {
  transition: background-color 250ms, border-color 250ms, color 250ms
}

.vscode-light .button--flat {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: black
}

.vscode-dark .button--flat {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: white !important
}

.vscode-light .button--flat:hover {
  background-color: var(--color-button-background--darken-30);
  border-color: var(--color-button-background--darken-30);
  color: white !important
}

.vscode-dark .button--flat:hover {
  background-color: white;
  border-color: white;
  color: black !important
}

.preload .button--flat {
  transition-duration: 0s !important
}

.button--flat-inverse {
  background-color: white;
  border: 1px solid white;
  color: black !important;
  font-weight: 600;
  transition: background-color 250ms, border-color 250ms, color 250ms
}

.button--flat-inverse:hover {
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.6);
  color: white !important
}

.preload .button--flat-inverse {
  transition-duration: 0s !important
}

.button--flat-primary {
  background-color: var(--color-button-background);
  border: 1px solid var(--color-button-background);
  color: var(--color-button-foreground) !important;
  font-weight: 600;
  transition: background-color 250ms, border-color 250ms, color 250ms
}

.vscode-dark .button--flat-primary:hover {
  background-color: white;
  border-color: white;
  color: black !important
}

.vscode-light .button--flat-primary:hover {
  background-color: var(--color-button-background--darken-30);
  border-color: var(--color-button-background--darken-30);
  color: white !important
}

.preload .button--flat-primary {
  transition-duration: 0s !important
}

.button--choose-path {
  padding: 0.6em 0.7em;
  margin-left: 0.2rem;
  margin-bottom: 0
}

.blurb {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--color-foreground--65);
  margin: 1em
}

.blurb b {
  color: var(--color-foreground--85)
}

.vscode-light .blurb {
  color: var(--color-foreground--75)
}

.command {
  font-weight: 600;
  padding: 1px 3px
}

.container {
  display: grid;
  grid-template-areas: "header header" "hero hero" "content sidebar";
  grid-template-columns: repeat(1, 1fr min-content);
  margin: 1em auto;
  grid-gap: 1em 3em;
  max-width: 1200px;
  min-width: 450px
}

@media all and (max-width: 768px) {
  .container {
    grid-gap: 1em 0
  }
}

.content__area {
  grid-area: content;
  font-size: 1.4rem
}

.vscode-dark .content__area {
  background-color: var(--color-background--lighten-05)
}

.vscode-light .content__area {
  background-color: var(--color-background)
}

@media all and (max-width: 768px) {
  .content__area {
    grid-column: span 1
  }
}

.content__area--full-scroll {
  background-color: unset !important;
  margin-bottom: 90vh
}

.content__area--full-scroll .section--settings {
  margin: 0 0 1em 0
}

.cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.3rem;
  margin: 0
}

.cta p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -0.5em;
  opacity: 0.6
}

.cta--primary {
  margin: 0 1em
}

.cta--secondary {
  margin: 0 1em
}

.header__blurb {
  color: var(--color-foreground--75);
  flex: 2 1 55%;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
  min-width: 345px
}

@media all and (max-width: 880px) {
  .header__blurb {
    margin: 0 2em
  }
}

.header__link {
  color: var(--color-foreground);
  outline: none
}

.header__link:hover,
.header__link:active,
.header__link:focus {
  color: var(--color-foreground);
  outline: none
}

.header__logo {
  display: flex;
  flex-wrap: nowrap
}

.header__logo--highlight {
  color: #8d3d17
}

.header__subtitle {
  color: var(--color-foreground--65);
  font-size: 2rem;
  font-weight: 100;
  margin: -0.2em 0 0 0;
  white-space: nowrap
}

.hero__area {
  grid-area: hero;
  color: var(--color-foreground--75);
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 1em
}

.hero__area b {
  color: var(--color-foreground--85)
}

.hero__area--sticky {
  background: var(--color-background);
  margin: 0;
  padding: 1em 0;
  position: sticky;
  top: -1px;
  z-index: 1;
  grid-column: span 1
}

.vscode-light .hero__area--sticky {
  background: var(--color-background--darken-075)
}

.hero__row {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between
}

.hero__subtitle {
  color: var(--color-foreground--75);
  font-size: 1.4rem;
  margin: 0.25em 0 0 0
}

.hero__title {
  font-size: 4rem;
  margin: 0
}

.hero__title-actions {
  margin: 0 1em
}

.hero__toolbar {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap
}

.hero__toolbar select,
.hero__toolbar option {
  background-color: var(--color-background) !important;
  margin-right: 0
}

@media all and (max-width: 768px) {

  .hero__toolbar select,
  .hero__toolbar option {
    margin-right: unset
  }
}

.hero__toolbar-scope {
  flex: 0 0 auto
}

.icon {
  background-color: var(--color-foreground);
  display: inline-block;
  height: 24px;
  margin-right: 3px;
  position: relative;
  width: 19px;
  top: 9px
}

h2 .icon {
  top: 7px
}

.icon--md {
  height: 30px;
  width: 24px;
  top: 12px
}

.icon--lg {
  height: 36px;
  width: 30px;
  top: 15px
}

.image__logo {
  margin: 9px 1em 0 0;
  max-height: 64px;
  max-width: 64px
}

.image__preview {
  display: block;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.8), 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
  width: 600px
}

.image__preview__body {
  display: block;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.8), 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
  width: 680px
}

.image__preview--overlay {
  left: 0;
  position: absolute;
  top: 0
}

.image__preview--float-container {
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-right: 17%
}

.image__preview__body--float-container {
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-right: 7px;
  padding-left: 7px;
  overflow: hidden
}

.image__preview--float {
  float: right
}

.link__configure,
.link__learn-more {
  margin-left: 10px
}

.presets {
  align-items: baseline;
  justify-content: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap
}

section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  padding: 1em
}

section h2 {
  flex: 1 0 auto;
  display: flex;
  margin-top: 0;
  margin-bottom: 1em
}

.section--full {
  flex-flow: column
}

.section--settings {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  margin: 1em;
  padding: 1em 0 0.5em 1em
}

.vscode-dark .section--settings {
  background: var(--color-background--lighten-075)
}

.vscode-light .section--settings {
  background: var(--color-background--darken-05)
}

.vscode-light .section--collapsible {
  background: var(--color-background)
}

.section--collapsible .section__header {
  cursor: pointer;
  flex: 1 0 100%;
  margin-right: 0
}

.section--collapsible .section__header:after {
  background-color: var(--color-foreground--75);
  content: "";
  height: 40px;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path d="M50 62a3 3 0 0 1-2-1L26 44a3 3 0 0 1 3-5l21 16 21-16a3 3 0 1 1 3 5L52 61a3 3 0 0 1-2 1z"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125"><path d="M50 62a3 3 0 0 1-2-1L26 44a3 3 0 0 1 3-5l21 16 21-16a3 3 0 1 1 3 5L52 61a3 3 0 0 1-2 1z"/></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 32px 40px;
  mask-size: 32px 40px;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 250ms ease-in-out;
  width: 32px
}

.section--collapsible.collapsed .section__header {
  margin-bottom: 0
}

.section--collapsible.collapsed .section__header:after {
  transform: translateY(-9px) rotate(-180deg)
}

.section--collapsible.collapsed .section__header h2 {
  margin-bottom: 0
}

.section--collapsible.collapsed .section__collapsible {
  display: none
}

.section__collapsible {
  display: flex;
  flex-wrap: wrap
}

.section__content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap
}

.section__group {
  flex: 1 0 100%;
  display: flex;
  flex-flow: wrap-reverse
}

.section__group+.section__group {
  margin-top: 1em
}

.section__header {
  display: flex;
  align-items: baseline;
  flex: 0 1 auto;
  flex-flow: column;
  margin-bottom: 1em;
  margin-right: 1em;
  position: relative
}

.section__header h2 {
  margin-bottom: 0
}

.section__header .link__configure,
.section__header .link__learn-more {
  visibility: hidden
}

.section__header:hover .link__configure,
.section__header:hover .link__learn-more {
  visibility: visible
}

.section__header-hint {
  color: var(--color-foreground--75);
  font-weight: 200;
  margin: 0.25em 0
}

.section__header-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
  align-items: center;
  color: var(--color-foreground--75);
  font-weight: 200;
  margin: 0.25em 0.5em
}

.section__header-info p {
  margin: 0;
  line-height: 2rem
}

.section__header-info .icon {
  top: 3px
}

.section__hint {
  flex: 0 0 auto;
  color: var(--color-foreground--75);
  font-weight: 200;
  margin: 0
}

.section__preview {
  flex: 0 1 auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.65rem
}

.section__collapsible .section__preview {
  margin-bottom: 1em
}

.section__preview-hint {
  color: var(--color-foreground--75);
  font-weight: 200;
  margin: 0.5em 0.5em 0 0.5em;
  text-align: center
}

.section__title {
  flex: 1 0 auto;
  margin: 0
}

.section__title--primary {
  font-size: 3rem;
  margin: 0.3em 0;
  justify-content: center
}

.section__title--break {
  margin: 0.3em 15% 0 15%;
  padding-top: 1em;
  justify-content: center
}

.vscode-dark .section__title--break {
  border-top: 1px solid var(--color-background--lighten-30)
}

.vscode-light .section__title--break {
  border-top: 1px solid var(--color-background--darken-30)
}

.setting {
  flex: 0 1 auto;
  position: relative;
  margin-right: 1em;
  min-width: 15.5em
}

.setting input[type="checkbox"] {
  flex: 0 0 16px;
  height: 16px;
  margin: 0 10px 0 0;
  position: relative;
  top: 3px;
  width: 16px
}

.setting[disabled] label {
  color: var(--color-foreground--75);
  cursor: default
}

#interface-behavior .setting {
  min-width: 29em
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1em;
  padding-right: 0;
  border-style: solid;
  border-width: 1px;
  flex-basis: 100%;
}

fieldset.info {
  background-color: #00378010;
  border-color: #3e6092
}

fieldset.alert {
  background-color: #80000010;
  border-color: #92473e
}

fieldset p {
  margin: 0;
  padding-right: 1em;
  width: 100%;
  color: var(--color-foreground--65)
}

fieldset p span {
  color: var(--color-foreground)
}

.setting__input {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: baseline;
  line-height: normal;
  margin: 0.5em 0
}

.setting__input input,
.setting__input select {
  flex-grow: 1
}

.setting__input input+.link__configure,
.setting__input input+.link__learn-more,
.setting__input select+.link__configure,
.setting__input select+.link__learn-more {
  margin-left: 0
}

.setting__input input[type="text"],
.setting__input input:not([type]) {
  min-width: 150px
}

.setting__input label {
  flex-grow: 0
}

.setting__input label>select {
  margin-top: 0.25em
}

.setting__input .link__learn-more,
.setting__input .link__configure {
  visibility: hidden;
  max-height: 15px
}

.setting__input .link__learn-more .icon,
.setting__input .link__configure .icon {
  display: block;
  top: unset
}

.setting__input:hover .link__learn-more,
.setting__input:hover .link__configure {
  visibility: visible
}

.setting__input--big {
  font-size: 2.2rem;
  font-weight: 200;
  margin: 0
}

.setting__input--big input[type="checkbox"] {
  flex: 0 0 1.5em;
  height: 1em;
  margin: 0;
  position: relative;
  top: 3px;
  left: -5px;
  width: 1em
}

.setting__input--big label {
  white-space: nowrap
}

.setting__input--big .link__learn-more,
.setting__input--big .link__configure {
  max-height: 17px
}

.setting__input--format {
  display: flex
}

.setting__input--format input[type="text"],
.setting__input--format input:not([type]) {
  max-width: unset
}

.setting__hint {
  color: var(--color-foreground--75);
  display: block;
  font-weight: 200;
  font-size: 1.3rem;
  margin: 0 1em 0.5em 1em
}

.settings {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap
}

.break {
  flex-basis: 100%;
  height: 0
}

.settings--fixed {
  display: block
}

.sidebar {
  grid-area: sidebar;
  align-self: flex-start;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 2
}

@media all and (max-width: 768px) {
  .sidebar {
    display: none
  }
}

.sidebar li {
  white-space: nowrap
}

.sidebar .button {
  margin: 0
}

.sidebar__group {
  margin-top: 1em
}

.sidebar__group h2 {
  font-size: 2rem
}

.sidebar__group p {
  font-weight: 400;
  opacity: 0.5;
  text-align: center
}

.sidebar__jump-link.active {
  font-weight: 700
}

.sidebar__jump-link.active:before {
  content: " ";
  border-left: 4px solid var(--color-link-foreground--darken-20);
  position: absolute;
  left: -1em;
  height: 1em;
  padding-bottom: 4px
}

.vscode-light .sidebar__jump-link.active:before {
  border-left-color: var(--color-link-foreground--lighten-20)
}

.sponsor__image {
  opacity: 0.8;
  transition: opacity 250ms;
  transform: scale(0.6);
  margin: -2.5em 0
}

.sponsor__image:hover {
  opacity: 1
}

.sponsor__tag {
  font-size: 1.1rem;
  margin: -1em 0.5em 0 0.5em;
  opacity: 0.5;
  text-align: center
}

.bold {
  font-weight: 600
}

.center {
  text-align: center
}

.hidden {
  display: none !important
}

.highlight {
  background-color: #cc5d1a;
  border-bottom: 2px solid #cc5d1a;
  border-radius: 3px;
  color: #f2f2f2;
  margin: 0 0.25em;
  padding: 2px 10px;
  text-align: center;
  vertical-align: bottom
}

.is-sidebar-hidden {
  display: none
}

@media all and (max-width: 768px) {
  .is-sidebar-hidden {
    display: initial
  }
}

.mb-0 {
  margin-bottom: 0 !important
}

.mb-05 {
  margin-bottom: 0.5em !important
}

.mb-1 {
  margin-bottom: 1em !important
}

.mb-2 {
  margin-bottom: 2em !important
}

.ml-0 {
  margin-left: 0 !important
}

.ml-1 {
  margin-left: 1em !important
}

.ml-2 {
  margin-left: 2em !important
}

.ml-3 {
  margin-left: 3em !important
}

.ml-4 {
  margin-left: 4em !important
}

.mr-0 {
  margin-right: 0 !important
}

.mr-1 {
  margin-right: 1em !important
}

.mr-2 {
  margin-right: 2em !important
}

.mt-n1 {
  margin-top: -1em !important
}

.mt-0 {
  margin-top: 0 !important
}

.mt-05 {
  margin-top: 0.5em !important
}

.mt-1 {
  margin-top: 1em !important
}

.mt-2 {
  margin-top: 2em !important
}

.non-interactive {
  cursor: default !important
}

.nowrap {
  white-space: nowrap !important
}

.vscode-dark .light {
  display: none
}

.vscode-light .dark {
  display: none
}

::-webkit-scrollbar-corner {
  background-color: transparent !important
}

#saved-config-toast {
  box-shadow: 0px 0px 28px 0 rgba(0, 0, 0, 0.5);
  cursor: default;
  display: block;
  padding: 1em 0.5rem;
  position: fixed;
  text-align: center;
  width: 60%;
  top: 50px;
  left: 50%;
  border-radius: 12px;
  margin-left: -30%;
  visibility: hidden;
  font-size: 2rem;
  z-index: 100
}

#saved-config-toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 1s
}

#resultingCommand {
  margin: 0 10px;
  padding: 4px;
  font-family: 'Courier New', monospace;
  background-color: #12121240;
}

.cursor-default {
  cursor: default
}

.text-italic{
  font-style: italic;
}

.vscode-light #saved-config-toast:before {
  border-bottom-color: var(--color-background--darken-075)
}

.vscode-dark #saved-config-toast:before {
  border-bottom-color: var(--color-background--lighten-075)
}

.vscode-light #saved-config-toast {
  background: var(--color-background--darken-075)
}

.vscode-dark #saved-config-toast {
  background: var(--color-background--lighten-075)
}

#dirty-config-toast {
  box-shadow: 0px 0px 28px 0 rgba(0, 0, 0, 0.5);
  cursor: default;
  display: block;
  padding: 1em 0.5rem;
  position: fixed;
  text-align: center;
  width: 60%;
  top: 50px;
  left: 50%;
  border-radius: 12px;
  margin-left: -30%;
  visibility: hidden;
  font-size: 2rem;
  z-index: 100
}

#dirty-config-toast.show {
  visibility: visible
}

.vscode-light #dirty-config-toast:before {
  border-bottom-color: var(--color-background--darken-075)
}

.vscode-dark #dirty-config-toast:before {
  border-bottom-color: var(--color-background--lighten-075)
}

.vscode-light #dirty-config-toast {
  background-color: #cc5d1a;
  color: #f2f2f2
}

.vscode-dark #dirty-config-toast {
  background-color: #cc5d1a;
  color: #f2f2f2
}

@keyframes fadein {
  from {
    opacity: 0.8
  }

  to {
    opacity: 1
  }
}

@keyframes fadeout {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.token-popup__scroller {
  margin-right: -0.4em;
  max-height: 35vh;
  overflow-y: scroll;
  padding-right: 0.4em
}

.token-popup__hint {
  color: var(--color-foreground--75);
  display: inline-block;
  font-weight: 200;
  margin: 1.25em 0.5em 0 0.25em
}

.token-popup__title {
  color: var(--color-foreground);
  font-weight: 400;
  margin: 0.25em 0 1em 0;
  text-align: center
}

.token-popup__table {
  border-collapse: collapse;
  color: var(--color-foreground--75);
  table-layout: fixed
}

.vscode-light .token-popup__table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05)
}

.vscode-dark .token-popup__table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.04)
}

.token-popup__table td {
  padding: 6px
}

.token-popup__table td i {
  opacity: 0.6
}

.token-popup__table td:first-child {
  padding: 6px 12px
}

.token-popup__table td:last-child {
  padding-right: 12px;
  text-align: end
}

.token {
  background: var(--color-link-foreground--darken-20);
  border-bottom: 2px solid var(--color-link-foreground--darken-20);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 1px 8px !important
}

.token:before {
  content:"${"
}

.token:after {
  content: "}"
}

.vscode-light .token {
  background: var(--color-link-foreground--lighten-20);
  border-bottom-color: var(--color-link-foreground--lighten-20)
}
