html {
  box-sizing: border-box;
  font-size: 13px;
  overflow: hidden;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
  height: 100%;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

html:focus:after {
  content:'';
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 1px solid;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: var(--vscode-focusBorder);
  pointer-events: none;
}

body {
  height: 100%;
  margin-left: 20px;
  background-color: transparent;
  padding: 0 var(--container-padding);
  scrollbar-gutter: stable;
  overflow:hidden;
  padding-right: 4px;
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
}

body:hover {
  overflow-y: auto;
} 

.row .col:nth-child(2) {
  padding-right: 4px;
}

ol,
ul {
  padding-left: var(--container-padding);
}

body>*,
form>* {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}

*:focus {
  outline-color: var(--vscode-focusBorder);
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}

button {
  border: none;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  width: 100%;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button:focus {
  outline-color: var(--vscode-focusBorder);
}

button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

select {
  background: var(--vscode-dropdown-background);
  color: var(--vscode-input-foreground);
  border-color: var(--vscode-dropdown-border);
  cursor: pointer;
  width: 50px;
  left: 15%;
  position: relative;
  border-radius: 2px;
}

select:disabled {
  opacity: 0.5;
  cursor: default;
}

select option {
  background-color: var(--vscode-dropdown-listBackground);
}

select option:focus {
  background-color: var(--vscode-input-background);
  outline-color: var(--vscode-input-border);
}

input:not([type="radio"]):not([type="checkbox"]),
textarea {
  display: block;
  margin-right: 20px;
  width: 100%;
  border: none;
  font-family: var(--vscode-font-family);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  padding: 3px var(--input-padding-horizontal);
  border-radius: 2px;
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="checkbox"]:focus+label {
  border: 1px solid var(--vscode-button-background);
}

input[type="radio"]:focus+label {
  border: 1px solid var(--vscode-button-background);
}

input:disabled {
  opacity: 0.5;
  cursor: default;
}

input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

u {
  color: var(--vscode-editor-foreground);
  text-decoration-color: var(--vscode-foreground);
  text-underline-offset: 0.04em;
}

body>div>div>label:focus,
body>div>div>label:active {
  outline-color: none !important;
  border: none !important;
}

#freeze {
  cursor: default;
  position: absolute;
  right: 0.9em;
  line-height: 1em;
  top: 1.05em;
  font-size: 1.8em;
  color: #5c87ff80;
  padding: 0;
  margin: 0;
}

.comment {
  display: none;
}

div.row {
  overflow-x: hidden;
  white-space: nowrap;
}

div.col {
  vertical-align: top;
  width: 50%;
  max-width: 9.5em;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.col-nav {
  width: 50%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: 4px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-6 {
  margin-bottom: 6px;
}

.input-holder {
  padding: 0;
  margin-right: 6px;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-overflow {
  text-overflow: unset !important;
}

.label-fix {
  vertical-align: top;
  line-height: 18px;
}
